<?xml version="1.0" encoding="UTF-8"?>

<!--
Overrided default Spring Boot's log configuration:
"org/springframework/boot/logging/logback/base.xml"
-->

<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <jmxConfigurator/>
    
  <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <file>${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
      <maxIndex>21</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>100MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
    
  <logger name="ch.qos.logback" additivity="false" level="DEBUG">
    <appender-ref ref="CONSOLE" />
  </logger>
    
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
